@import url("https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap");
body {
  font-family: 'Dosis', sans-serif;
  background-color: #DCD0C0;
}

.typeBold {
  font-weight: 600;
}

.typeLight {
  font-weight: 300;
}

.textDark {
  color: #373737;
}

.style {
  font-size: 30px;
  padding-bottom: 5px;
}

.bgDark {
  background-color: #373737;
}

.bgNude {
  background-color: #DCD0C0;
}

.bgGold {
  background-color: #C0B283;
}

.bgPaper {
  background-color: #F4F4F4;
}

.titulo {
  font-size: 3em;
  text-align: center;
  color: #C0B283;
}

@media (min-width: 720px) {
  .titulo {
    font-size: 4em;
  }
}

.textoMedio {
  font-size: 1.5em;
  text-align: justify;
}

.tituloGrande {
  font-size: 2em;
}

@media (min-width: 992px) {
  .tituloGrande {
    font-size: 3em;
  }
}

.textoGeneral {
  font-size: 1em;
}

@media (min-width: 992px) {
  .textoGeneral {
    font-size: 1.5em;
  }
}

.opacity {
  opacity: 0.9;
}

/**Navbar**/
.logo {
  width: 150px;
  height: auto;
}

.navbar-nav {
  font-size: 1.5em;
}

.navbar-nav li {
  padding: 8px;
}

.navbar-light .navbar-nav .nav-link {
  color: #373737;
  font-size: 1em;
}

.navbar-light .navbar-nav .nav-link:hover {
  color: #C0B283;
}

.dropdown-menu.show {
  background-color: #DCD0C0;
  border: none;
  color: #373737;
  font-size: 20px;
}

/**Home**/
.home {
  background-image: url(../media/bannerHome.jpg);
  background-size: cover;
  background-position: top;
}

.home .animacion {
  height: 70vh;
  padding-top: 70px;
}

@media (min-width: 992px) {
  .home {
    background-image: url(../media/bannerHome2x.jpg);
  }
}

.card-deck {
  margin-left: 0;
  margin-right: 0;
}

.card-deck .card {
  border: none;
  max-width: 600px;
}

/**About**/
.about {
  min-height: 700px;
}

.about .foto {
  background-image: url(../media/perfil_collar.jpg);
  background-size: cover;
  background-position: top;
  min-height: 500px;
}

/**Experiencias**/
.estilo {
  background-image: url(../media/estilo.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.cuerpo {
  background-image: url(../media/cuerpoc.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.color {
  background-image: url(../media/colorc.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.asesoria {
  background-image: url(../media/asesoriac.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.armario {
  background-image: url(../media/armarioc.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.compras {
  background-image: url(../media/comprasc.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.rostro {
  background-image: url(../media/rostroc.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

.cap {
  background-image: url(../media/capacitacionc.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

/**Asesoria integral**/
.contenedorAsesoria {
  height: 500px;
  width: auto;
  overflow: hidden;
}

.contenedorAsesoria img {
  width: 100%;
  height: auto;
}

/**Curso**/
.imagenCurso {
  background-image: url(../media/imagenCurso.jpg);
  background-size: cover;
  background-position: center;
  min-height: 400px;
}

/**Testimonios**/
.testimonios {
  background-image: url(../media/bannerTestimonios.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

@media (min-width: 992px) {
  .testimonios {
    background-image: url(../media/bannerTestimonios2x.jpg);
  }
}

@media (min-width: 992px) {
  .carousel-item img {
    max-width: 600px;
    margin: auto;
    padding: 20px;
  }
}

/**Contacto**/
.bannerContacto {
  background-image: url(../media/bannercontacto.jpg);
  background-position: top;
  background-size: cover;
  background-attachment: fixed;
}

form {
  margin: 20px;
}

form label {
  font-size: 1.5em;
}

form textarea {
  resize: none;
  height: 150px;
}

/**Footer**/
#footer {
  padding: 60px;
  font-size: 20px;
  color: #DCD0C0;
  border-top: 1px solid;
}
/*# sourceMappingURL=estilos.css.map */