@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');

body{
	font-family: 'Dosis', sans-serif;
	background-color: #DCD0C0;
}

.typeBold{
	font-weight: 600;
}
.typeLight{
	font-weight: 300;
}
.textDark{
    color: $colorDark;
}

.style{
	font-size: 30px;
	text-align: center;
	padding-bottom: 5px;
}
.bgDark{
	background-color: #373737;
}
.bgNude{
	background-color: #DCD0C0;
}
.bgGold{
	background-color: #C0B283;
}
.bgPaper{
	background-color: #F4F4F4;
}

.titulo{
	font-size: 3em;
	text-align: center;
	color: $colorGold;
	@media (min-width: 720px) {	   	
		font-size: 4em;     
	}	
}

.tituloGrande{	
	font-size: 2em;
	text-align: center; 
	@media (min-width: 992px) {	   	
			font-size: 3em;     
	}	
}

.textoGeneral{	
	font-size: 1.2em;
	text-align: center;
	@media (min-width: 992px) {	   	
		font-size: 1.5em;
	}
}

.opacity{
	opacity: 0.9;	
}

.card-deck{
	margin-left: 0;
	margin-right: 0;
	.card{
		border: none;
		max-width: 600px;
		background-color: #C0B283;
	}	
}	

@mixin background {
	background-size: cover;
	background-position: top;  
}

@mixin imagen {
	max-height: 500px;
	width: auto;
	overflow: hidden;	
	img{
		width: 100%;
		height: auto;
	}	
}

/**Navbar**/

.logo{
	width: 150px;
	height: auto;
}

.navbar-nav{
	font-size: 1.5em;
	li{
		padding: 8px;
	}	
}
.navbar-light .navbar-nav .nav-link {
    color: $colorDark;
	font-size: 1em;
	&:hover{
		color: $colorGold;
	}	
}

.dropdown-menu.show{
	background-color: #DCD0C0;
	border: none;
	color: $colorDark;
	font-size: 20px;
	.dropdown-item:hover{
		background-color: transparent;
		color: $colorGold;
	}
}

/**Home**/

.home{
	background-image: url(../media/bannerHome.jpg);
	@include background;
	.animacion{
		height: 70vh;
		padding-top: 70px;
	}
	@media (min-width: 992px) {
		background-image: url(../media/bannerHome2x.jpg);
	}
}


/**About**/

.about{
	.foto{
		@include imagen;		
	}
}

/**Asesoria integral**/

.contenedorAsesoria{
	@include imagen;
}

/**Curso**/

.contenedorCurso{	
	.contenedorCursoImagen{
		@include imagen;
	}
}

/**Testimonios**/

.testimonios{
	background-image: url(../media/bannerTestimonios.jpg);
	@include background;
	background-attachment: fixed;
	@media (min-width: 992px) {
		background-image: url(../media/bannerTestimonios2x.jpg);
		@include background;
	}
}

@media (min-width: 992px) {
    .carousel-item img {
      max-width: 600px;
      margin: auto;
      padding: 20px;
    }
}

/**Contacto**/

.bannerContacto{
	background-image: url(../media/bannercontacto.jpg);
	@include background;
	background-attachment: fixed;
	@media (min-width: 992px) {
		background-image: url(../media/bannercontacto2.jpg);
		@include background;
	}
	.contenedorFormulario {
		form{
			margin: 20px;
			label{
				font-size: 1.5em;
			}
			textarea{
					resize: none;
					height: 150px;
			}	 
		}
	}	
}

/**Footer**/

#footer{
  padding: 60px;
  font-size: 20px;
  color: $colorNude;
  border-top: 1px solid;
}
