@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');

/**Clases de uso general**/

body{
	font-family: 'Dosis', sans-serif;
	background-color: $bgNude;
}

.typeBold{
	font-weight: 600;
}
.typeLight{
	font-weight: 300;
}

.style{
	font-size: 30px;
	text-align: center;
	padding-bottom: 5px;
}

.titulo{
	font-size: 3em;
	text-align: center;
	color: $colorGold;
	@media (min-width: 720px) {	   	
		font-size: 4em;     
	}	
}

.tituloGrande{	
	font-size: 2em;
	text-align: center; 
	@media (min-width: 992px) {	   	
			font-size: 3em;     
	}	
}

.textoGeneral{	
	font-size: 1.2em;
	text-align: center;
	@media (min-width: 992px) {	   	
		font-size: 1.5em;
	}
}

.opacity{
	opacity: 0.9;	
}
/**Mixin y extend**/

@mixin background {
	background-size: cover;
	background-position: top;  
}

%imagen {
	max-height: 500px;
	width: auto;
	overflow: hidden;	
	img{
		width: 100%;
		height: auto;
	}	
}

/**Navbar**/

.logo{
	width: 150px;
	height: auto;
}

.navbar-nav{
	font-size: 1.5em;
	li{
		padding: 8px;
	}	
}
.navbar-light .navbar-nav .nav-link {
    color: $colorDark;
	font-size: 1em;
	&:hover{
		color: $colorGold;
	}	
}

.navbar-toggler{
	border: none;
	font-size: 1.5rem;
}

.dropdown-menu.show{
	background-color: $bgNude;
	border: none;
	color: $colorDark;
	font-size: 20px;
	.dropdown-item:hover{
		background-color: transparent;
		color: $colorGold;
	}
}

/**Home**/

.contenedorHome{
	.home{
		background-image: url(../media/bannerHome.jpg);
		@include background;
		.animacion{
			height: 70vh;
			padding-top: 70px;
		}
		@media (min-width: 992px) {
			background-image: url(../media/bannerHome2x.jpg);
		}	
	}
	.introAbout{
		background-color: $bgGold;
	}
	.card-deck{
		margin-left: 0;
		margin-right: 0;
		.card{
			border: none;
			max-width: 600px;
			background-color: $bgNude;
		}	
	}	
}

/**About**/

.about{
	.foto{
		@extend %imagen;		
	}
}

/**Asesoria integral**/
.asesoria{
	.contenedorAsesoria{
		@extend %imagen;
	}
	.introEncuentros{
		background-color: $bgGold;
	}
	.encuentros{
		background-color: $bgPaper;
	}
}

/**Experiencias**/

.experiencias{
	.card-deck{
		margin-left: 0;
		margin-right: 0;
		.card{
			border: none;
			max-width: 600px;
			background-color: $bgGold;
		}	
	}	
}

/**Curso**/
.curso{
	.contenedorCurso{	
		.contenedorCursoImagen{
			@extend %imagen;
		}	
	}	
	.infoCurso{
		background-color: $bgGold;
	}
}


/**Testimonios**/

.testimonios{
	background-image: url(../media/bannerTestimonios.jpg);
	@include background;
	background-attachment: fixed;
	@media (min-width: 992px) {
		background-image: url(../media/bannerTestimonios2x.jpg);
		@include background;
	}
	nav{
		background-color: $bgNude;
	}
	.bannerTestimonios{
		background-color: $bgNude;
	}
	.carrusel{
		@media (min-width: 992px) {
			.carousel-item img {
			  max-width: 600px;
			  margin: auto;
			  padding: 20px;
			}
		}	
	}
}

/**Contacto**/

.bannerContacto{
	background-image: url(../media/bannercontacto.jpg);
	@include background;
	background-attachment: fixed;
	@media (min-width: 992px) {
		background-image: url(../media/bannercontacto2.jpg);
		@include background;
	}
	.contenedorFormulario {
		form{
			margin: 20px;
			background-color: $bgPaper;
			label{
				font-size: 1.5em;
			}
			textarea{
					resize: none;
					height: 150px;
			}	 
		}
	}	
}

/**Footer**/

footer{
  color: $colorPaper;
  background-color: $bgDark;
}
