@import "variables";
@import url('https://fonts.googleapis.com/css2?family=Dosis:wght@300;400;600&display=swap');

body{
	font-family: 'Dosis', sans-serif;
	background-color: #c7c1b7;
}

img{
	width: 150px;
}
	
.typeBold{
	font-weight: 600;
}
.typeLight{
	font-weight: 300;
}
.style{
	font-size: 30px;
	padding-bottom: 5px;
}
.bgDark{
	background-color: #373737;
}
.bgNude{
	background-color: #c7c1b7;
}
.bgGray{
	background-color: #ada9a1;
}

.textDark{
    color: $colorDark;
}

.titulo{
	font-size: 4em;
	text-align: center;
}

/**Header**/

.navbar-nav{
	font-size: 1.5em;
	li{
		padding: 8px;
	}	
}
.navbar-light .navbar-nav .nav-link {
    color: $colorDark;
	font-size: 1em;
	&:hover{
		color: gray;
	}	
}

.dropdown-menu.show{
	background-color: #c7c1b7;
	border: none;
	color: $colorDark;
}
/**Home**/

.home{
	background-image: url(../media/bannerHome.jpg);
	background-size: cover;
    background-position: top;
	height: 100vh;
	.animacion{
		height: 70vh;
		padding-top: 70px;
	}
	@media only screen and (min-width: 992px) {
		background-image: url(../media/bannerHome2x.jpg);
	
	}
}

.centrar{
	padding-left: 10px;
	padding-right: 10px;
	.tituloGrande{
		text-align: center;
		font-size: 2em;    
	}
	.textoHome{
		text-align: center;
		font-size: 1em;
	}
}

@media only screen and (min-width: 992px) {
  	   .centrar{
		padding-left: 180px;
		padding-right: 180px;
		.tituloGrande{
			text-align: center;
			font-size: 3em;    
		}
		.textoHome{
			text-align: center;
			font-size: 1.5em;
		}
	}
}
.card-deck{
	margin-left: 0;
	margin-right: 0;
	.card{
		border: none;
	}
}

/**About**/

.about{
	min-height: 700px;
	.title{
		font-size: 50px;
	}
	.foto{
		background-image: url(../media/perfil_collar.jpg);
		background-size: cover;
		background-position: top;
		min-height: 500px;
	}
	.links{
		font-size: 1.5em;
		word-spacing: 2px;
		a{
		color: $colorDark;
		}
	}
}

/**Asesorias**/

/**Experiencias**/

@mixin box {
	background-size: cover;
	background-position: center;  
	min-height: 400px;
}

.estilo{
	background-image: url(../media/estilo.jpg);
	@include box;  
}
.cuerpo{
	background-image: url(../media/cuerpoc.jpg);
	@include box; 
}
.color{
	background-image: url(../media/colorc.jpg);
	@include box; 
}
.asesoria{
	background-image: url(../media/asesoriac.jpg);
	@include box; 
}
.armario{
	background-image: url(../media/armarioc.jpg);
	@include box; 
}
.compras{
	background-image: url(../media/comprasc.jpg);
	@include box; 
}
.rostro{
	background-image: url(../media/rostroc.jpg);
	@include box; 
}
.cap{
	background-image: url(../media/capacitacionc.jpg);
	@include box; 
}

/**Asesoria integral**/

.imagenAsesoria{
	background-image: url(../media/armarioc.jpg);
	background-position: center;
	background-size: cover;
	height: 500px;
}

/**Curso**/

.imagenCurso{
	background-image: url(../media/imagenCurso.jpg);
	@include box;
}

/**Testimonios**/

.testimonios{
	background-image: url(../media/bannerTestimonios.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
	@media only screen and (min-width: 992px) {
		background-image: url(../media/bannerTestimonios2x.jpg);
	
	}
}

.texto{
	font-size: 1,5em;
	opacity: 0.9;
	@media only screen and (min-width: 992px) {
		font-size: 2em;
	}
}

@media only screen and (min-width: 992px) {
    .carousel-item img {
      max-width: 600px;
      margin: auto;
      padding: 20px;
    }
}

/**Contacto**/

.bannerContacto{
	background-image: url(../media/bannercontacto.jpg);
	background-position: top;
	background-size: cover;
	background-attachment: fixed;
}

form{
	background-color: rgb(255, 255, 255);
	opacity: 0.9;
	margin: 20px;
	label{
		font-size: 1.5em;
	}
	textarea{
			resize: none;
			height: 150px;
	}	 
}

/**Footer**/

#footer{
  padding: 60px;
  font-size: 20px;
  color: $colorNude;
  border-top: 1px solid;
}
